* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.container-fluid {
    padding: 0;
}

body {
    background-color: #fff;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    z-index: 1;
}

/*Fontes*/
.contrail-one-regular {
    font-family: "Contrail One", serif;
    font-weight: 400;
    font-style: normal;
}
  
.roboto-condensed-medium {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.roboto-condensed-regular {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.inter-regular {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.homeImage {
    background-size: cover;
    background-image: url(../images/background.png);
    height: 1009px;
    width: auto;
}

.navbar {
    position: fixed;
    background: rgba(0, 0, 0, 0.582);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    z-index: 2;
}

.nav-link {
    color: #fff;

    :hover {
        color: #fff;
        font-weight: 500;
    }
}

.frase {
    background-image: linear-gradient(to right, #07033F , #3A0552);
    padding: 2%;

    p {
        font-size: 24px;
    }
}

.conteudo {
    background-image: linear-gradient(#000000 , #08045B);
    padding: 150px;
    width: 100%;

    h1 {
        font-size: 64px;
        color: white;
        margin-bottom: 100px;
    }

    p {
        color: white;
    }
}

.sobre {
    p {
        line-height: 50px;
    }
}

.btn-purple {
    background-color: #69218A;
    color: #fff;
}

.btn-purple:hover {
    color: #69218A;
    background-color: #fff;
}

.title {

    h1 {
        margin-top: 200px;
        color: #fff;
        text-align: center;
        font-size: 128px;
    }
    h2 {
        margin-top: 50px;
        color: #fff;
        text-align: center;
        font-size: 48px;
    }
    h3 {
        margin-top: 50px;
        color: #fff;
        text-align: center;
        font-size: 32px;
    }
    
}

.description {
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
    text-align: center;
    line-height: 50px;
}

.rodape {
    background-color: #01001D;
    list-style-type: none;
    color: white;

    h1 {
      font-size: 24px;  
    }
    p {
        font-size: 16px;
    }
}

.icons {
    color: #fff;
    width: 10%;
    justify-content: space-between;

    a {
        color: #fff;
        text-decoration: none;
    }
}

.carrossel {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 200px;
    
    .wrapper {
        display: flex;
        gap: 100px;
        width: max-content;
        animation: slide 30s linear infinite;

        &:hover {
            animation-play-state: paused;
        }

        img {
            max-width: 200px;
        }
    }
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

  .card {
    background-image: linear-gradient(#08045B , #3A0552);
    flex: 1;

    h5 {
        color: #fff;
    }
    
  }

  .card {
    display: flex;
    flex-direction: column;
    height: 40rem;
}

.filtro {
    position: relative;
    height: 50%;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &::before {
        content: "";
        background: linear-gradient(to top, rgba(132, 0, 194, 0.3), rgba(0, 29, 109, 0.3));
        pointer-events: none; /* Para não interferir na imagem */
    }
}




.botao {
    color: #fff;
    background-color: transparent;
    border-width: 1px;
    border-color: #fff;
    border-radius: 20px;
}

.botao:hover {
        background-color: #08045B;
        color: #fff;
}

.contatodir {
    width: 65%;
    color: white;
    text-align: start;

    h2 {
        font-size: 32px;
    }
}

.contatoesq {
    width: 35%;
    color: white;
    text-align: start;
}
